img {
  width: 150px;
  height: 150px;
}

h6 {
  width: 170px;
  height: auto;
  margin: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
  margin: 10px;
  background-color: cadetblue;
  border: 2px solid blue;
}

.card-dead {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
  margin: 10px;
  background-color: rgb(255, 78, 78);
  border: 2px solid rgb(119, 0, 0);
}